body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 5 80px;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer {
    flex: 5 30px;
}

menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
}